In [4]:
print('new')

new

In [5]:
2+1

3

In [6]:
2-1

1

In [7]:
2*2

4

In [8]:
3/2

1.5

In [9]:
7/4

1.75

In [10]:
7%4

3

In [11]:
50 % 5

0

In [12]:
2** 3

8

In [13]:
(2+10) * 10 + 3

123

In [14]:
a=5

In [15]:
a

5

In [16]:
a+a

10

In [17]:
a

5

In [18]:
a=a+a

In [19]:
a

10

In [20]:
type(a)

int

In [21]:
a = 30.1

In [22]:
type(a)

float

In [23]:
'hello'

'hello'

In [24]:
"hello"

'hello'

In [25]:
"I'm a string"

"I'm a string"

In [26]:
print('hello')

hello

In [27]:
len('hello')

5

In [28]:
len('I am')

4

In [29]:
mystring = "Hello World"

In [30]:
mystring[0]

'H'

In [31]:
mystring[-1]

'd'

In [32]:
mystring[-2]

'l'

In [33]:
mystring = 'abcdefghijk'

In [34]:
mystring[1:]

'bcdefghijk'

In [35]:
mystring[:-2]

'abcdefghi'

In [36]:
mystring[:3]

'abc'

In [37]:
mystring[3:6]

'def'

In [39]:
mystring[::2]

'acegik'

In [40]:
mystring[1:6:3]

'be'

In [41]:
mystring[::-1]

'kjihgfedcba'

name = "sam"

In [42]:
name[0]='P'

NameError: name 'name' is not defined

In [43]:
name = "Sam"

In [44]:
name

'Sam'

In [45]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [46]:
letter = 'z'

In [47]:
letter * 10

'zzzzzzzzzz'

In [48]:
name.upper

In [49]:
name.upper()

'SAM'

In [50]:
my_list = [1,2,3]

In [51]:
my_list

[1, 2, 3]

In [52]:
my_list = ['123', 2 , 3]

In [53]:
len(my_list)

3

In [54]:
len(mystring)

11

In [55]:
mystring

'abcdefghijk'

In [56]:
my_list[1] = 'two'

In [57]:
my_list

['123', 'two', 3]

In [58]:
my_list.append('four')

In [59]:
my_list

['123', 'two', 3, 'four']

In [62]:
my_list.pop(0)

'123'

In [63]:
my_dict = {'k1':'v1','k2':'v2'}

In [64]:
my_dict

{'k1': 'v1', 'k2': 'v2'}

In [65]:
my[k1]

NameError: name 'my' is not defined

In [67]:
my_dict['k1']

'v1'

In [68]:
        my_dict['k3'] = 'v3'

In [69]:
my_dict[k3] = 'v3'

NameError: name 'k3' is not defined

In [71]:
my_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [72]:
my_dict.values()

dict_values(['v1', 'v2', 'v3'])

In [73]:
my_dict.items()

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')])

In [74]:
t = (1,2,3)

In [75]:
my_list = [1,2,3]

In [76]:
type(t)

tuple

In [77]:
type(my_list)

list

In [78]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [79]:
t.count(1)

1

In [80]:
set1= set()

In [81]:
set1.add(1)

In [82]:
set1

{1}

In [83]:
set1.add(2)

In [84]:
set1

{1, 2}

In [85]:
set1.add(2)

In [86]:
set1

{1, 2}

In [88]:
l1=[1,2,2,2,2,3,3,3,3,3,1,1,1,1]

In [89]:
set(l1)

{1, 2, 3}

In [90]:
l1

[1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 1, 1, 1, 1]

In [91]:
set(split('Mississippi'))

NameError: name 'split' is not defined

In [92]:
list('Mississippi')

['M', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [93]:
set(list('Mississippi'))

{'M', 'i', 'p', 's'}

In [94]:
1==1

True

In [95]:
type(false)

NameError: name 'false' is not defined

In [96]:
type(False)

bool

In [97]:
b = None

In [98]:
s1 = {1,2,3}

In [99]:
s1

{1, 2, 3}

In [100]:
s1 = {1,2,2,3}

In [101]:
s1

{1, 2, 3}

In [102]:
set([1,2,2,3])

{1, 2, 3}

In [104]:
set([1,2,2,3])

{1, 2, 3}

In [105]:
file = open('/opt/learn/python/Complete-Python-3-Bootcamp-master/00-Python Object and Data Structure Basics/test.txt')

In [106]:
file.read()

'First Line\nSecond Line'

In [107]:
file.read()

''

In [108]:
file.seek(0)

0

In [109]:
file.read()

'First Line\nSecond Line'

In [110]:
file.seek(0)

0

In [111]:
file.readlines()

['First Line\n', 'Second Line']

In [112]:
pwd

'/Users/vbendre'

In [113]:
cd /opt/learn/python/Complete-Python-3-Bootcamp-master/00-Python Object and Data Structure Basics

/opt/learn/python/Complete-Python-3-Bootcamp-master/00-Python Object and Data Structure Basics

In [114]:
file.close()

In [115]:
file = open('test.txt')

In [116]:
file = open('test.txt')

In [117]:
file.read()

'First Line\nSecond Line'

In [118]:
open('test.txt')

In [130]:
with open('test.txt', mode='r') as myfile:
    myfile.seek(0)
    contents = myfile.readlines()

In [126]:
contents

['First Line\n', 'Second Line']

In [127]:
contents

['First Line\n', 'Second Line']

In [131]:
myfile.close()

In [134]:
with open('test.txt',mode = 'w') as file:
    file.write('Hello World')
    file.close()

In [137]:
if True:
    print('Its True')
else:
    print('False')

Its True

In [141]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [142]:
for letter in 'abcde':
    print('At index letter is {}'.format(letter))

At index letter is a
At index letter is b
At index letter is c
At index letter is d
At index letter is e

In [144]:
for item in enumerate('abcde'):
    print('item {}'.format(item))

item (0, 'a')
item (1, 'b')
item (2, 'c')
item (3, 'd')
item (4, 'e')

In [145]:
for index,letter in enumerate('abcd'):
    print('index = {} , letter = {}'.format(index,letter))

index = 0 , letter = a
index = 1 , letter = b
index = 2 , letter = c
index = 3 , letter = d

In [146]:
l1 = [1,2,3]

In [147]:
l2 = ['a','b','c']

In [151]:
for item1,item2 in zip(l1,l2):
    print('{}{}'.format(item1, item2))

1a
2b
3c

In [152]:
min(l1)

1

In [153]:
max(l2)

'c'

In [154]:
from random import shuffle

In [157]:
shuffle(l1)
l1

[3, 2, 1]

In [158]:
l1

[3, 2, 1]

In [159]:
shuffle(l1)
l1

[3, 2, 1]

In [160]:
shuffle(l1)
l1

[1, 3, 2]

In [161]:
shuffle(l1)
l1

[1, 2, 3]

In [162]:
from random import randint

In [164]:
randint(0,10)

9

In [165]:
input('Input a number:')

Input a number:test

'test'

In [166]:
input1 = input('Input a number:')

Input a number:101

In [167]:
type(input1)

str

In [168]:
float(input1)

101.0

In [169]:
str1 = 'hello'

In [171]:
for letter in str1:
    my_list.append(letter)

In [172]:
my_list

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [173]:
mylist = [x for x in 'word']

In [174]:
mylist

['w', 'o', 'r', 'd']

In [177]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [176]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [178]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [179]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [182]:
mylist = [x*y for x in range(0,6) for y in range (10, 30 , 10)]
mylist

[0, 0, 10, 20, 20, 40, 30, 60, 40, 80, 50, 100]

In [183]:
s = 'Print only the words that starsts with s in senReturn a list of the words in S, using sep as the
tence'
s.startswith

In [189]:
slist = [word for word in s.split(' ') if word.startswith('s')]
slist

['starsts', 's', 'sentence']

In [201]:
for x in range(1,101):
    letter = ''